@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: 'Raleway', sans-serif;
}

#root{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-todo{
    width: 450px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center ;
    border: 1px solid black;
    border-radius: 50px;
}

.new-todo input{
    width: 100%;
    padding: 15px;
    border-width: 0px;
    font-family: 'Raleway', sans-serif;
    background-color: #efefef;
    transition: all 0.3s ease-out;
    border-radius: 50px;
}

input:focus{
    outline: none;
}

.new-todo .add-btn{
    height: 50px;
    border-width: 0;
    min-width: 50px;
    font-size: 18px;
    cursor: pointer;
    padding:0px ;
    border-radius: 52px;
}

.add-btn:hover{
    background-color: rgba(151, 151, 151, 0.2);
}

.task{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    position: relative;
    width: 40vw;
}

.todo-header{
    display: flex;
    width: 100%;
    align-items: center;
}

.task .title{
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.task select {
	appearance: none;
    padding: 2px 6px;
    border-radius: 5px 0 5px 0;
    border-width: 0;
    position: absolute;
    top:0;
    left:0;
    cursor: pointer;
}

.task input[type=text]{
    width: 95%;
}

.task input{
    border-radius: 5px;
    margin-right: 7px;
}

.strikethrough{
    text-decoration: line-through;
}

.hideborder:focus{
    outline: none;
}

.hideborder{
    border-color: transparent;
}

.delete-btn{
    margin-left: auto;
    max-width: 20px;
    cursor: pointer;
    height: 100%;
}

.task{
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin: 8px 0px;
}

@media only screen and (max-width: 900px) {

    .task, .new-todo{
        width: 70vw;
    }
}